<div class='user_listing'>
  check this out...
  <button> Push This</button>
  <button> Cancel</button>
</div>

<script type='text/template', id='user_template'>
  <div class='user_listing', id='user_<%%= first_name %>'>
    <%%= first_name %>
  </div>
</script>
