body {
  .container {
    .header {
      .logo {
      }
      .loggedin {
        font-size: .75em
      }
    }
    .main_content {
      .sidebar_left {
        float: left;
        width: 30%;
        .header {
        }
        .scrollable {
        }
      }
      .content {
        float: left;
        max-width: 50%;
        min-width: 44%;
        .header {
        }
        .scrollable {
        }
      }
      .sidebar_right {
        float: left;
        width: 20%;
        .header {
        }
        .scrollable {
        }
      }            
      .footer {
        clear: both;
      }
    }
  }
}

.scrollable {
}

//debug
div {
  padding: 2px;
  margin:3px;
  min-width: 2px;
  min-height: 2px;
  border: {
    width: 1px;
    style: dotted;
    color: red;
  }
}

span {
  border: {
    width: 1px;
    style: dotted;
    color: red;
  }
}