<button class='FbLogin'><%= link_to "Login with Facebook", fb_login_url, :method => :post %>
</button>

<!-- # do I use a form? 
# do I use just a button?
# a form is for when you want to send info with a post and with specific fields filled in. query params.

#  a button just does a get call to a url.  You can encode the button to have query params though.. static. no user entry.

 -->
